<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict if you would have survived on the Titanic</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">    
	<p>Select the class you'd be travelling in:</p>
	  <input type="radio" id="1" name="Pclass" value="1">
	  <label for="1">1st class</label>
	  <input type="radio" id="2" name="Pclass" value="2">
	  <label for="2">2nd class</label>
	  <input type="radio" id="3" name="Pclass" value="3">
	  <label for="3">3rd class</label><br>
	    
	<p>What is your age?</p>
	<input type="number" step="0" min="1" max="110" name="Age" placeholder="Age" required="required" value="<?php echo isset($_POST['Age']) ? $_POST['Age'] : '' ?>" /><br>
	    
	<p>How many siblings/spouses would you have on board?</p>
	<input type="number" step="0" min="0" max="20" name="SibSp" placeholder="Siblings on board" required="required" /><br>
	    
	<p>How many parents/children would you have on board?</p>
	<input type="text" name="Parch" step="0" min="0" max="20" placeholder="Parents/children on board" required="required" /><br>
	    
	<p>How much fare would you have paid for the ticket? (Avg. were $85 for 1st class, $20 for 2nd class, $14 for 3rd class)</p>
	<input type="number" step="0" min="0" max="150" name="Fare" placeholder="Fare" required="required" /><br>
	    
	<p>Which gender do you identify yourself with?</p>    
	  <input type="radio" id="male" name="male" value="1">
	  <label for="male">Male</label>
	  <input type="radio" id="female" name="male" value="0>
	  <label for="female">Female</label><br>
	    
	<p>Where would you have embarked?</p>
	  <input type="radio" id="Q" name="Q" value="1">
	  <label for="Q">Queenstown</label>
	  <input type="radio" id="S" name="Q" value="2">
	  <label for="S">Southampton</label>
	  <input type="radio" id="C" name="Q" value="3">
	  <label for="C">Cherbourg</label><br />
			
        <p><button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
	<input type="button" value="Retrieve Entered Values" onclick="history.back()"></p>
    </form>
									 

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
